.image-overlay.overlay-dark-gradient {
    background: linear-gradient(to bottom, rgba(78, 94, 158, 0.8), rgba(102, 126, 234, 0.8));
}

.bg-dark {
    background: #4e5e9e !important;
}

.section.modular-bottom .footer-stuff hr {
    border-color: #fdb933;
}
#footer.bg-dark {
    background: #fdb933 !important;
}
#footer p {
    color: #5a5656 !important;
}
#footer a {
    color: #4e5e9e;
}

.modular-features .feature-icon {
color: #4e5e9e }
}

/* Github link */

#github-contrib i {
    vertical-align: middle;
}
blockquote {
    border-left: 5px solid #fff;
}

blockquote>blockquote>blockquote>blockquote>blockquote>p {
    margin-left: -118px;
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}

blockquote>blockquote>blockquote p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;