/* Homepage Customisations and Accessibility Fixes*/
#header a {
    color: #4e4d4d;
}

body {
    color: #4e4d4d;
}
.modular-features .feature-content {
    color: #505050;
}
.modular-features .column:hover .feature-content {
    color: rgb(47, 47, 47, 0.8);
}
.modular-features .feature-icon h3 {
    color: #4e4d4d;
    background: #fff;
    line-height: 1;
    z-index: 1;
       //text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    display: block;
    font-size: 1rem;
}

.hero.text-light h2 {
    color: rgba(255, 255, 255, 1.0);
}
.mautic-article {
    max-width: 1200px;
    margin: auto;
}
.page-toc {
    margin-top: -20px;
    text-transform: none;
}
.section.modular-bottom .footer-stuff h2{
    color: #d5ddef;
}
.section.modular-bottom ul li a {
   color: #d5ddef;
}

.image-overlay.overlay-dark-gradient {
    background: linear-gradient(to bottom, rgba(78, 94, 158, 0.8), rgba(102, 126, 234, 0.8));
}

.bg-dark {
    background: #4e5e9e !important;
}

.section.modular-bottom .footer-stuff hr {
    border-color: #fdb933;
}
#footer.bg-dark {
    background: #fdb933 !important;
}
#footer p {
    color: #000 !important;
}
#footer.bg-dark a {
    color: #14276f;
}
.dropmenu ul li a.active  {
color: #43518a !important;
}
.modular-features .feature-icon {
color: #4e5e9e }

.overlay.open {
opacity: 1;}

.overlay {
background: #4e4d4d;
}
.treemenu li a {
color: #bec6e6;}

/* Content Accessibility Fixes*/
code {
color: #942a31;
}
.label.label-secondary {
color: #2c365d;
}

a:visited {
color: #4b5682;
}

h3 {
    color:#fba702;
}

.thumb-ratings .title-thumb {
color: #4e4d4d;
}
.divider[data-content]::after {
    color: #4e4d4d;
}
    /* Github link */

#github-contrib i {
    vertical-align: middle;
}
blockquote {
    border-left: 5px solid #fff;
}

blockquote>blockquote>blockquote>blockquote>blockquote>p {
    margin-left: -118px;
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}

blockquote>blockquote>blockquote p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
